// https://www.w3.org/Style/Examples/007/center.en.html
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// https://css-tricks.com/snippets/css/complete-guide-grid/
// http://caniuse.com
// https://everythingfonts.com/font-face

// Cores
@colorGray: #666666;
@colorLightGray: #888888;
@colorDanger: #ff0000;
@colorGreen: #4CAF50;
@colorLightBlue: #28aadc;
@colorConfirm: @colorGreen;
// Outros estilos
@border: 1px solid @colorLightGray;
@borderRadius: 0.25em;
@borderColorActive: #3CB371;
@boxShadowActive: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0.2em rgba(60,179,113, 0.6);
@boxShadowDanger: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0.2em rgba(255,0,0, 0.6);

@baseFontDir: '../third/fonts/Ubuntu';

@font-face {
    font-family: 'Ubuntu';
    src: url('@{baseFontDir}/Ubuntu-Bold.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-BoldItalic.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-Italic.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-Light.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-LightItalic.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-Medium.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-MediumItalic.ttf') format('truetype');
    src: url('@{baseFontDir}/Ubuntu-Regular.ttf') format('truetype');
}

html {
    color: @colorGray;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Ubuntu Light';
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a:link {
    text-decoration: none;
    color: @colorGray;
}

.panel {
    flex-grow: 1;
    margin: 0 2vw;
}

.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.kb_key {
    border: 2px solid @colorGreen;
    border-radius: calc(100% / 2);
    width: 23vw;
    height: 23vw;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.kb_key:last-child {
    // margin-top: 1em;
    display: flex;
    align-self: flex-end;
    flex-grow: 1;
    border-radius: 1em;
    // background-color: @colorGreen;
    // color: white;
    font-size: 3em;
}

.kb_key:active,
.kb_key:hover {
    background-color: @colorGreen;
    color: white;
}

.kb_value {}

.kb_sub_value {
    font-size: 0.3em;
}

.panel-top {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    margin: 2vh 2vw;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 2vh 2vw;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}

footer > a > i {
    font-size: 3em !important;
}
